<!DOCTYPE html>
<html>
<head>
	<title>coding kings</title>
</head>
<body>


<div class="container">
   <div style="text-align: center;margin-top: 5%;">
      card no : <input type="text" name="cardno" ><br>
    card holder name : <input type="text" name="name"><br>
    expiry date : <input type="date" name="date"><br>
    cvv : <input type="text" name="cvv"><br>
    <button id="btnsubmit" type="submit">submit</button>
      </div>
</div>


<script>
  var btn = document.getElementById("btnsubmit");
  btn.addEventListener("click" , function(){
    alert("plz fill all the requirements");
  });

</script>
</body>
</html>