<!DOCTYPE html>
<html>
<head>
	<title>coding kings</title>
	<script type="text/javascript">
     M.AutoInit();   
    </script>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
      <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    </style> 

</head>
<body>
<% include header %>
<div class="css">
  <div class="parallax-container">
      <div class="parallax"><img src="images/codingking1.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">LEARN AND EARN</h2>
        <h3>ALL WITH LOADS OF FUN!</h3>
        <p class="grey-text text-darken-3 lighten-3">The Campus Ambassador program at Coding Blocks is aimed at identifying energetic, passionate, brilliant, like minded College Superheroes (and this term Superhero includes all the Supermen & Wonderwomen) who have the zeal to take initiative and make a mark.

<strong>How to identify a Coding Blocks Superhero?</strong>Well, they are the people who are typically great coders and very active members of Computer societies, clubs, events and activities. In addition, they are stars of their community and people look upto them since they usually lead by example. In short, Leadership flows in their veins and they are the visionaries of tomorrow.

If you feel you have the qualities to be a Coding Blocks Superhero, we invite you to join the clan and be a part of the community. We assure you of a great learning experience, awesome perks and take home rewards, a super confident you, a shining resume with recommendations & certificate and a place in the Coding Blocks family. Here are the details, in case you have already made up your mind to be a part of us.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/codingking2.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">ROLES AND RESPONSIBILITY OF CODINGKINGS SUPERHEROS!</h2>
        <p class="grey-text text-darken-3 lighten-3">    Be the official Super Hero alias Ambassador and branding representative of Coding Blocks in your college
    Create programming contests on HackerBlocks (our online coding practice tool)
    Promote our courses in your college and get students to sign up & subscribe (including YouTube)
    Publicise by displaying posters on notice boards, sharing e-posters on WhatsApp, Facebook etc, circulating emails, etc.
    Maintain relevant databases and submit monthly reports
    Conduct Coding Blocks workshop every 3 months and programming events / online hackathon every 45 days in your campus
    Organize counselling sessions and meet-ups in college canteen/campus with Mentors & Alumni
    Represent us in the placement cells of your college
    Come up with innovative ideas on how Coding Blocks can assist your college and associate us with any technical fest or sessions that your college conducts
    Put Coding Blocks “Books” in college library
    Introduce BOSS event of Coding Blocks in Tech Talks
    Get students to attend difficult subject doubt session ‘Webinars’ – organised by Mentors of Coding Blocks
    Associate Coding Blocks with various college societies and fest department
    Any other marketing initiative will be rewarded as well</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/codingkings3.png"></div>
    </div>
     <div class="section white">
      <div class="row container">
        <h2 class="header">WHAT YOU LEARN & LEARN!</h2>
        <p class="grey-text text-darken-3 lighten-3">Superhero kit with host of swags like T-shirt, Bag, Cap, Diary, Pen drive, Stickers and so on
    Earn great Cash rewards on organising workshops in your college
    Student referral rewards
    Work Experience Certificate to all eligible candidates on successful completion of six months program
    LinkedIn recommendation to all eligible candidates after completion of program
    Meet targets, get our online courses for free
    Free book worth Rs 1200 if targets are met
    Free passes for workshops at Coding Blocks
    Opportunity to interact and network with industry experts and professionals through various events
    Opportunity to become a part of us (PPO)
    Huge cash incentives for specific target achievements
    Additional cash incentives for blogs writing for Coding Blocks
    An exposure of working with a start-up, with some of the best brains in the industry
    Campus ambassadors are preferred for Paid internships and Teaching Assistants at Coding Blocks
    Can sit in Coding Blocks placement drives even if non-CB student (haven’t enrolled for a course)
    Accalamtion of efforts through Superheros of the Month, Quarter and Year entitling you to Cask rewards, Mobile phone and laptop respectively.</p>
    <p class="grey-text text-darken-3 lighten-3">If you feel you want to be a part of this initiative, you can get started by filling up this form.</p>
     <center><a id="register" class="btn waves-effect waves-teal" href="/jobregistration">REGISTER NOW</a></center>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/codingkings4.png"></div>
    </div>
     <div class="section white">
      <div class="row container">
        <h2 class="header">THE PROGRAM</h2>
        <div class="col s6">
          <h3>REWARDS</h3>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-right" data-aos-duration="500">HUGE CASH INCENTIVES!</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-right" data-aos-duration="800">Exclusive merchandise</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-right" data-aos-duration="1100">Attractive discounts coupons</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-right" data-aos-duration="1300">Free early access passes for all events</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-right" data-aos-duration="1700">Special interaction sessions</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-right" data-aos-duration="2000">Referral rewards</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-right" data-aos-duration="2300">Internship (work experience) certificate</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-right" data-aos-duration="2600">And a lot more!</p>
        </div>
        <div class="col s6">
          <h3>RESPONSIBILITY</h3>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-left" data-aos-duration="500">Promote CK courses and online platforms</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-left" data-aos-duration="800">Clear doubts regarding CK</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-left" data-aos-duration="1100">Help CK with on-ground and social branding</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-left" data-aos-duration="1400">Maintain relevant databases for leads</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-left" data-aos-duration="1700">Conduct workshops, meet-ups, and events</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-left" data-aos-duration="2000">Connect CK with the college placement cell</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-left" data-aos-duration="2300">Connect CK with teams of various college fests</p>
          <p class="grey-text text-darken-3 lighten-3" data-aos="fade-left" data-aos-duration="2600">Innovative ideas welcome!</p>
        </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/codingking5.jpg"></div>
    </div>
  </div>


<div id="section4">
    <div class="container">
    <div class="row">
        <div class="col s4">
            <h1>SEND MESSAGE</h1>

  <div class="row">
    <form  method="POST" action="/message">
      <div class="row">
        <div class="input-field col s12">
          <input  id="name" type="text" class="validate" name="Name">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="subject" type="text" class="validate" name="subject">
          <label for="subject">Subject</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <textarea id="message" class="materialize-textarea" name="message"></textarea>
          <label for="message">Message</label>
        </div>
      </div>
      <button id="sendmessage" type="submit" class="btn waves-effect waves-teal">SEND MESSAGE</button>
    </form>
  </div>
        </div>

        <div class="col s1">
            
        </div>
        <div class="col s7">
            <!-- <h1>CHECK MY LOCATION</h1> -->

            <div id="gmap">
<div id="map" ></div>
<script>

function myMap() {
  
  var myCenter = new google.maps.LatLng(<%=data.lat%>,<%=data.lng%>);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 18};
  var map = new google.maps.Map(mapCanvas,mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
  marker.setMap(map);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfeJEhYBehzdv61AfFCdcqwZ_J2DcrzWM&callback=myMap"></script>

        </div>
    </div>
    </div>
</div>
</div>

<script>
    M.AutoInit();
     var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true,
    autoplay:true
  });

  // Or with jQuery

  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true,
    autoplay:true
  });

  $('.carousel.carousel-slider').carousel({
   fullWidth: true,
   padding: 50
 }, setTimeout(autoplay, 6000));

 function autoplay() {
   $('.carousel').carousel('next');
   setTimeout(autoplay, 6000);


    $("#academics").click(function(){
        $("#computing").addClass('active');
    });

 }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<script>
    AOS.init();
  </script> 
<%include footer%>
</body>
</html>