<!DOCTYPE html>
<html>
<head>
	<title>coding kings</title>
	<script type="text/javascript">
     M.AutoInit();   
    </script>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    </style> 

</head>
<body>
<% include header %>


  <div class="parallax-container">
       <div class="parallax"><img src="images/intro.jpg"></div>
        <h1><center>PYTHON</center></h1>
        <p><center>Programing fundamentals in python</center></p>
      </div>
    </div>
    <div id="node" class="section white container">
     <h1><center>OVERVIEW</center></h1>
     <p><center>The Beginners Python course is designed to help students new to programming or otherwise to learn python from basics. The first part of the course help students to understand how python syntax works, related concepts and the latter part deals with automating mundane tasks using python. Through this course, students will be made comfortable with python for computations, object-oriented python, and python standard template library.</p>
     <p>This course includes multiple activities through which students will have hands-on experience of python programming. Students will be aligned with a mentor who will guide them throughout the course. This course enables students to learn data Science, Machine Learning or web development using Django in future.</center></p>
     <center><a href="/courseregister" class="btn waves-effect waves-pink">REGISTER NOW</a></center><br><br>
    </div>

<div class="section5">
  <div class="row">
    <div class="col s12 m6 l3">
     <i class="material-icons">create</i><br>
      <h1>Fundamentals</h1>
      <p>We have designed our course keeping in mind the requirements of beginners.Course starts with fundamentals of logic building and problem solving.</p>
    </div>
    <div class="col s12 m6 l3">
      <i class="material-icons">chat</i><br>
      <h1>Problem Solving</h1>
      <p>The course is designed to sharpen the problem solving skills of the students. We follow step-by-step approach to make students fall in love with programming and ignite their passion of coding with the help of problems.</p>
    </div>
    <div class="col s12 m6 l3">
      <i class="material-icons">storage</i><br>
      <h1>OOP Concepts</h1>
      <p>Emphasis is given on building strong Object Oriented Programming Concepts and coding practices followed in the Software Industry, so to make our students industry-ready.</p>
    </div>
    <div class="col s12 m6 l3">
      <i class="material-icons">person_outline</i><br>
      <h1><!-- <i class="material-icons right">person_outline</i> -->Python STL</h1>
      <p>We take a deep dive into Python's extensive built in standard library that makes a plethora of tasks, that are harder to do in other contemporary languages, trivial.</p>
    </div>
  </div>
</div>

<div class="section6">
  <div class="row">
    <div class="col s12 m6 l4">
              <div id="card1" class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Basics of Python</span>
                  <p>Lectures 1-2</p>

                </div>
                <div class="card-action">
                  <li><strong>A Brief Overview of Python</strong></li>
                  <li><strong>Setting up Python</strong></li>
                  <li><strong>Interactive Python</strong></li>
                  <li><strong>Built-In Data Types</strong></li>
                   <li><strong>Control Flow</strong></li>
                </div>
              </div>
      </div>
    <div class="col s12 m6 l4">
              <div id="card1" class="card blue-grey darken-2">
                <div class="card-content white-text">
                  <span class="card-title">Data Structures & Functions</span>
                  <p>Lecture: 3-5</p>

                </div>
                <div class="card-action">
                  <li><strong>Defining & Using Functions</strong></li>
                  <li><strong>Some Common and Useful Functions</strong></li>
                  <li><strong>Argument Unpacking, Annotations</strong></li>
                  <li><strong>Lists, and Tuples</strong></li>
                </div>
              </div>
    </div>
    <div class=" col s12 m6 l4">
             <div id="card1" class="card blue-grey darken-3">
                <div class="card-content white-text">
                  <span class="card-title">Writing Interactive Programs</span>
                  <p>Lectures 6-9</p>

                </div>
                <div class="card-action">
                  <li><strong>Handling Input & Output</strong></li>
                  <li><strong>Error & Exception Handling</strong></li>
                  <li><strong>Organizing Code with Modules</strong></li>
                </div>
              </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l4">
             <div id="card2" class="card blue-grey darken-4">
                <div class="card-content white-text">
                  <span class="card-title">Object Oriented Programming</span>
                  <p>Lectures 9-13</p>

                </div>
                <div class="card-action">
                  <li><strong>Object Oriented Programming Concepts</strong></li>
                  <li><strong>Using Classes & Objects</strong></li>
                  <li><strong>Commonly Used built-in Classes</strong></li>
                  <li><strong>Inheritance</strong></li>
                </div>
              </div>
    </div>
    <div class="col s12 m6 l4">
              <div id="card2" class="card blue-grey darken-5">
                <div class="card-content white-text">
                  <span class="card-title">Standard Template Library</span>
                  <p>Lectures 14-18</p>

                </div>
                <div class="card-action">
                  <li><strong>Number Crunching</strong></li>
                  <li><strong>File Manipulation</strong></li>
                  <li><strong>Data Compression & Archiving</strong></li>
                  <li><strong>Basic Network Programming</strong></li>
                  <li><strong>Data Encryption</strong></li>
                </div>
              </div>
    </div>
    <div class="col s12 m6 l4">
              <!--  <div id="card2" class="card blue-grey darken-6">
                <div class="card-content white-text">
                  <span class="card-title">ADVANCED TOPIC AND DEPLOYMENT</span>
                  <p>Lectures 19-25</p>

                </div>
                <div class="card-action">
                  <li><strong>Security</strong></li>
                  <li><strong>Scaling</strong></li>
                  <li><strong>Using Frontend Templates</strong></li>
                  <li><strong>3rd Party Libraries and Frameworks</strong></li>
                   <li><strong>Deploying a live web project</strong></li>
                </div>
              </div> -->
    </div>
  </div>
</div>

<div class="section7">
   <div class="row">
    <div class="col s2">
      
    </div>
    <div class="col s8">
      <div id="details" class="card pink darken-1">
        <div class="card-content white-text">
          <span class="card-title">PYTHON</span>
        <div class="card-action">
          <h1>RS 15000/-</h1>
          <p>(18 lectures)</p><br>
          <center><a href="/courseregister" class="btn waves-effect waves-pink">REGISTER NOW</a></center><br>
          <p>start date - 19AUGUST</p><P>end date - 10NOV</P><br>
          <p> Sat, Sun (3:00 PM - 7:00 PM)</p><br>
          <p>Contact Us</p>
          <p>call - 9783730301</p>
        </div>
      </div>
    </div>
    <div class="col s2">
      
    </div>
  </div>
</div>

<div id="section4">
    <div class="container">
    <div class="row">
        <div class="col s12 m12 l4">
            <h1>SEND MESSAGE</h1>

  <div class="row">
    <form  method="POST" action="/message">
      <div class="row">
        <div class="input-field col s12">
          <input  id="name" type="text" class="validate" name="Name">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="subject" type="text" class="validate" name="subject">
          <label for="subject">Subject</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <textarea id="message" class="materialize-textarea" name="message"></textarea>
          <label for="message">Message</label>
        </div>
      </div>
      <button id="sendmessage" type="submit" class="btn waves-effect waves-teal">SEND MESSAGE</button>
    </form>
  </div>
        </div>

        <div class="col s1">
            
        </div>
        <div class="col s12 m12 l7">
            <!-- <h1>CHECK MY LOCATION</h1> -->

            <div id="gmap">
<div id="map" ></div>
<script>

function myMap() {
  
  var myCenter = new google.maps.LatLng(<%=data.lat%>,<%=data.lng%>);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 18};
  var map = new google.maps.Map(mapCanvas,mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
  marker.setMap(map);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfeJEhYBehzdv61AfFCdcqwZ_J2DcrzWM&callback=myMap"></script>

        </div>
    </div>
    </div>
</div>

<script>
    M.AutoInit();

     var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true,
    autoplay:true
  });

  // Or with jQuery

  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true,
    autoplay:true
  });

  $('.carousel.carousel-slider').carousel({
   fullWidth: true,
   padding: 50
 }, setTimeout(autoplay, 6000));


var instance = M.Carousel.init({
    fullWidth: true
  });

  // Or with jQuery

  $('.carousel.carousel-slider').carousel({
    fullWidth: true
  });

 function autoplay() {
   $('.carousel').carousel('next');
   setTimeout(autoplay, 6000);
}

    $("#academics").click(function(){
        $("#computing").addClass('active');
    });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<%include footer%>
</body>
</html>