<!DOCTYPE html>
<html>
<head>
	<title>coding kings</title>
	<script type="text/javascript">
     M.AutoInit();   
    </script>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    </style> 

</head>
<body>

<% include header%>


  <div class="parallax-container">
       <div class="parallax"><img src="images/intro.jpg"></div>
        <h1><center>TEAM</center></h1>
        <p><center>Professional Mentors</center></p>
      </div>
    </div>
    <div id="node" class="section white container">
     <h1><center>OUR TEAM</center></h1>
     <p><center>The backbone of any training institute is the team of talented and enthusiastic mentors, and the story is no different for Coding Blocks. We take pride in the fact that we have the most talented team of mentors, who have experienced the education and corporate industries with equal measures. All our mentors have been well performing students at the best of colleges, have worked at industry giants such as Sony, Cyanogen, SanDisk, Facebook, Barclays, Practo, Harman, DRDO, Cadence, American Express, Nagarro and many more. We also have GSoCers, GSoC Mentors and Google Code-in mentors in our team, in addition to people who've been published in international journals. With great reviews encouraging us, and the not so great ones making us push our limits, our team certainly has the right blend of people for every technology and language.</center></p>
   </div>
   

<div class="section8">
  <div class="row">
    <div class="col s12 m6 l3">
                <div id="teamcard" class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/robin.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">ROBIN JAIN(Founder)<i class="material-icons right">more_vert</i></span>
              <p>click here to know more</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Founder of CODING KINGS<i class="material-icons right">close</i></span>
              <p>ROBIN JAIN, an JIIT graduate, is an ace programmer, technocrat, an entrepreneurial doyen and a mathematician. He has co-founded Software giant, Nagarro and Vidyamandir Classes(VMC). Having seen both the industries from up close, he could identify a key gap between college education and industry needs and has now set out to carve the path that will turn even ordinary students into industry-ready coders.</p>
            </div>
                </div>
          
    </div>
    <div class="col s12 m6 l3">
       
              <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/robin.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">ROBIN JAIN(Founder)<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Founder of CODING KINGS<i class="material-icons right">close</i></span>
              <p>ROBIN JAIN, an JIIT graduate, is an ace programmer, technocrat, an entrepreneurial doyen and a mathematician. He has co-founded Software giant, Nagarro and Vidyamandir Classes(VMC). Having seen both the industries from up close, he could identify a key gap between college education and industry needs and has now set out to carve the path that will turn even ordinary students into industry-ready coders.</p>
            </div>
                </div>

    </div>
    <div class="col s12 m6 l3">
      
              <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/robin.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">ROBIN JAIN(Founder)<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Founder of CODING KINGS<i class="material-icons right">close</i></span>
              <p>ROBIN JAIN, an JIIT graduate, is an ace programmer, technocrat, an entrepreneurial doyen and a mathematician. He has co-founded Software giant, Nagarro and Vidyamandir Classes(VMC). Having seen both the industries from up close, he could identify a key gap between college education and industry needs and has now set out to carve the path that will turn even ordinary students into industry-ready coders.</p>
            </div>
                </div>

    </div>
    <div class="col s12 m6 l3">
      
              <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/robin.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">ROBIN JAIN(Founder)<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Founder of CODING KINGS<i class="material-icons right">close</i></span>
              <p>ROBIN JAIN, an JIIT graduate, is an ace programmer, technocrat, an entrepreneurial doyen and a mathematician. He has co-founded Software giant, Nagarro and Vidyamandir Classes(VMC). Having seen both the industries from up close, he could identify a key gap between college education and industry needs and has now set out to carve the path that will turn even ordinary students into industry-ready coders.</p>
            </div>
                </div>

    </div>
  </div>

   <div class="row">
    <div class="col s12 m6 l3">
                <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/robin.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">ROBIN JAIN(Founder)<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Founder of CODING KINGS<i class="material-icons right">close</i></span>
              <p>ROBIN JAIN, an JIIT graduate, is an ace programmer, technocrat, an entrepreneurial doyen and a mathematician. He has co-founded Software giant, Nagarro and Vidyamandir Classes(VMC). Having seen both the industries from up close, he could identify a key gap between college education and industry needs and has now set out to carve the path that will turn even ordinary students into industry-ready coders.</p>
            </div>
                </div>
          
    </div>
    <div class="col s12 m6 l3">
       
              <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/robin.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">ROBIN JAIN(Founder)<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Founder of CODING KINGS<i class="material-icons right">close</i></span>
              <p>ROBIN JAIN, an JIIT graduate, is an ace programmer, technocrat, an entrepreneurial doyen and a mathematician. He has co-founded Software giant, Nagarro and Vidyamandir Classes(VMC). Having seen both the industries from up close, he could identify a key gap between college education and industry needs and has now set out to carve the path that will turn even ordinary students into industry-ready coders.</p>
            </div>
                </div>

    </div>
    <div class="col s12 m6 l3">
      
              <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/robin.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">ROBIN JAIN(Founder)<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Founder of CODING KINGS<i class="material-icons right">close</i></span>
              <p>ROBIN JAIN, an JIIT graduate, is an ace programmer, technocrat, an entrepreneurial doyen and a mathematician. He has co-founded Software giant, Nagarro and Vidyamandir Classes(VMC). Having seen both the industries from up close, he could identify a key gap between college education and industry needs and has now set out to carve the path that will turn even ordinary students into industry-ready coders.</p>
            </div>
                </div>

    </div>
    <div class="col s12 m6 l3">
      
              <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/robin.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">ROBIN JAIN(Founder)<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Founder of CODING KINGS<i class="material-icons right">close</i></span>
              <p>ROBIN JAIN, an JIIT graduate, is an ace programmer, technocrat, an entrepreneurial doyen and a mathematician. He has co-founded Software giant, Nagarro and Vidyamandir Classes(VMC). Having seen both the industries from up close, he could identify a key gap between college education and industry needs and has now set out to carve the path that will turn even ordinary students into industry-ready coders.</p>
            </div>
                </div>

    </div>
  </div>
</div>


<div id="section4">
    <div class="container">
    <div class="row">
        <div class="col s12 m12 l4">
            <h1>SEND MESSAGE</h1>

  <div class="row">
    <form  method="POST" action="/message">
      <div class="row">
        <div class="input-field col s12">
          <input  id="name" type="text" class="validate" name="Name">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="subject" type="text" class="validate" name="subject">
          <label for="subject">Subject</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <textarea id="message" class="materialize-textarea" name="message"></textarea>
          <label for="message">Message</label>
        </div>
      </div>
      <button id="sendmessage" type="submit" class="btn waves-effect waves-teal">SEND MESSAGE</button>
    </form>
  </div>
        </div>

        <div class="col s1">
            
        </div>
        <div class="col s12 m12 l7">
            <!-- <h1>CHECK MY LOCATION</h1> -->

            <div id="gmap">
<div id="map" ></div>
<script>

function myMap() {
  
  var myCenter = new google.maps.LatLng(<%=data.lat%>,<%=data.lng%>);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 18};
  var map = new google.maps.Map(mapCanvas,mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
  marker.setMap(map);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfeJEhYBehzdv61AfFCdcqwZ_J2DcrzWM&callback=myMap"></script>

        </div>
    </div>
    </div>
</div>

<script>
    M.AutoInit();
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<%include footer%>
</body>
</html>